.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2rem;
  box-sizing: border-box;
}

.menu-toggle {
  font-size: 2rem;
  background: #565656;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  top: 30px;
  right: 7.5rem;
}

.menu-item {
  font-size: 1.5rem;
  background: #565656;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item.focused {
  background-color: #cacaca;
  color: #565656;
  outline: 3px solid #565656;
  transform: scale(1.1);
  transition: all 0.2s;
}

